extends /layout

block title
  title= (post ? post.title + ' - ' : '') + 'Documentation | Zulu - The ZSH Environment Manager'

block content
  include /_includes/header

  section.docs
    include /_includes/docs/sidebar

    div.docs--content
      article
        h1= (post ? post.title : 'Zulu')

        block docs-content
          :marked
            [![Join the chat at https://gitter.im/zulu-zsh/zulu](https://badges.gitter.im/zulu-zsh/zulu.svg)](https://gitter.im/zulu-zsh/zulu?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) [![Join the slack community at https://zulu-zsh.slack.com](https://zulu-slack.herokuapp.com/badge.svg)](https://zulu-slack.herokuapp.com)

            Thanks for using Zulu. Zulu is a environment manager for ZSH, which aims to make it easy to manage your shell without writing any code.

            ## Features

            * Easily manage your shell environment without editing files.
            * Create aliases, functions and environment variables, and have them available to you at the next shell startup.
            * Add and remove directories from `$path`, `$fpath` and `$cdpath` with simple commands.
            * Install packages, plugins and themes easily, and have them available to you immediately.

            ## Getting Started

            If you haven't already, then take a look at the [installation instructions](/docs/getting-started/installation).
