doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Zulu is a environment manager for ZSH, which aims to make it easy to manage your shell without writing any code.')
    meta(name='author', content= "James Dinsdale")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    block title
      title= _path

    link(rel='icon' href='/favicon.png')
    link(rel='stylesheet' href='//brick.a.ssl.fastly.net/Fira+Sans:400,400i,700/Fira+Mono:400,400i,700')
    != css('/')

  body
    block content

    include /_includes/footer

    script(src='/js/main.js')
