---
title: Uninstalling Zulu
---

extends /docs

block docs-content
  :marked
    Tried zulu and it's not for you? We won't hold it against you. Here's how you can remove it:

    ```sh
    rm -rf "${ZULU_DIR:-"${ZDOTDIR:-$HOME}/.zulu"}"
    rm -rf "${ZULU_CONFIG_DIR:-"${ZDOTDIR:-$HOME}/.config/zulu"}"
    ```

    Then just remove the initialisation lines from your `.zshrc` and zulu has been uninstalled.
