.docs
  display: flex
  padding: 3em 1.5em

  .scrolled &
    padding-top: 9em

  @media (max-width: 64em)
    flex-wrap: wrap

  @media (min-width: 32em)
    padding: 3em

  @media (min-width: 64em)
    padding: 6em

  &--sidebar
    flex: 0 0 100%

    @media (max-width: 64em)
      padding-top: 4.5em

    @media (min-width: 64em)
      flex: 1 0 15em

    &-nav
      font-size: .75em

      h4
        margin: 0

      ul
        list-style: none

      a.active
        position: relative

        &::before
          color: $peach
          content: '•'
          font-size: 1.5em
          position: absolute
          right: 100%

  &--content
    display: block
    flex: 1 1 100%
    width: 100%

    article
      font-size: .75em
