.docs
  display: flex
  padding: 6em

  &--sidebar
    flex: 1 0 15em
    left: 6em
    position: fixed
    top: 6em

    &-nav
      font-size: .75em

  &--content
    flex: 1 1 100%
    padding-left: 18em

    article
      font-size: .75em
