---
title: Installation
seq: 1
---

extends /docs

block docs-content
  :marked
    The easiest way to install Zulu is with its install script:

    ```sh
    curl -L https://zulu.molovo.co/install | zsh && zsh
    ```

    If you'd rather download and inspect the script before running it manually, follow these steps:

    ```sh
    git clone https://github.com/zulu-zsh/install
    cd install
    ./install
    ```
