---
title: compile
---

extends /docs

block docs-content
  :marked
    The `compile` command compiles Zulu, package files, and user scripts sourced on startup.

    ## Usage

    ```sh
    zulu compile
    ```
