---
title: info
---
  
extends /docs

block docs-content
  :marked
    The `info` command is used to display information about packages in [the index](https://github.com/zulu-zsh/index).

    ## Usage

    ```sh
    zulu info <package>
    ```

    ### `zulu info <package>`

    Display information for the specified package.
