---
title: install
---

extends /docs

block docs-content
  :marked
    The `install` command installs a package (or packages) defined in [the index](https://github.com/zulu-zsh/index).

    ## Usage

    ```sh
    zulu install <packages...>
    ```

    ### `zulu install <packages...>`

    Install the specified package(s).

    ## Options

    ### `--ignore-dependencies`

    Don't install the package's dependencies before it is installed.

    ### `--no-autoselect-themes`

    Don't automatically select themes after they are installed.
