---
title: link
---
  
extends /docs

block docs-content
  :marked
    The `link` command installs symlinks to the `bin`, `init` and `share` directories for an installed package.

    ## Usage

    ```sh
    zulu link <packages...>
    ```

    ### `zulu link <packages...>`

    Install symlinks for the specified package(s).
