---
title: search
---
  
extends /docs

block docs-content
  :marked
    The `search` command searches [the index](https://github.com/zulu-zsh/zulu).

    ## Usage

    ```sh
    zulu search <term>
    ```
