---
title: self-update
---
  
extends /docs

block docs-content
  :marked
    The `self-update` command checks for and installs updates to Zulu itself.

    ## Usage

    ```sh
    zulu self-update [options]
    ```

    ## Options

    ### `-c`, `--check`

    Only check for updates, rather than installing them automatically.
