---
title: theme
---

extends /docs

block docs-content
  :marked
    The `theme` command is used for managing prompt themes.

    ## Usage

    ### `zulu theme <theme>`

    Selects a prompt theme for use from those installed

    ```sh
    zulu theme filthy
    ```

    ### `zulu theme`

    Prints the current prompt theme
