---
title: uninstall
---
  
extends /docs

block docs-content
  :marked
    The `uninstall` command uninstalls an installed package (or packages).

    ## Usage

    ```sh
    zulu uninstall <packages...>
    ```

    ### `zulu uninstall <packages...>`

    Uninstall the specified package(s).
