---
title: unlink
---
  
extends /docs

block docs-content
  :marked
    The `unlink` command removes symlinks from the `bin`, `init` and `share` directories for an installed package.

    ## Usage

    ```sh
    zulu unlink <packages...>
    ```

    ### `zulu unlink <packages...>`

    Remove symlinks for the specified package(s).
