section.intro.intro_before-search
  :marked
    # Zulu

    The ZSH Environment Manager

    ```sh
    curl -L https://zulu.sh/install | zsh && zsh
    ```

  .intro--search
    label(for='search')
      span.hidden-label Search for a package
