aside.docs--sidebar
  nav.docs--sidebar-nav
    h4 Documentation

    ul
      li
        a(href='#features') Features
      li
        a(href='#requirements') Requirements
      li
        a(href='#installation') Installation

        ul
          li
            a(href='#one-liner') One Liner
          li
            a(href='#for-the-cautious') For the Cautious
          li
            a(href='#manual-installation') Manual Installation

      li
        a(href='#usage') Usage

        ul
          li
            a(href='#managing-packages') Managing Packages
          li
            a(href='#managing-paths') Managing Paths
          li
            a(href='#managing-aliases') Managing Aliases
          li
            a(href='#managing-functions') Managing Functions
          li
            a(href='#choosing-a-theme') Choosing a Theme
          li
            a(href='#updating-zulu') Updating Zulu

      li
        a(href='#uninstalling') Uninstalling

      li
        a(href='#contributing') Contributing

      li
        a(href='#license') License

      li
        a(href='#team') Team
