aside.docs--sidebar
  nav.docs--sidebar-nav
    h3 Documentation

    ul
      li
        a(href='/docs') Home

    h4 Getting Started

    ul.docs--sidebar-nav-getting-started

    h4 Quick Guides

    ul.docs--sidebar-nav-quick-guides

    h4 Commands

    ul.docs--sidebar-nav-commands

    h4 Misc

    ul.docs--sidebar-nav-misc

    h4 Contributing to Zulu

    ul.docs--sidebar-nav-contributing
